/*
  Menu Page CSS
  Contains special column styling to make images all lign up.
*/

.column p {
  width: 475px; /* Match image size */
  height: 60px; /* Keep descriptions the same length */
  text-align: center;
}

.column h2 {
  text-align: center;
  font-variant: small-caps;
}

.column img {
  width: 475px; /* Match paragraph width */
  height: 370px; /* HACK: Keeps images alligned */
}
